@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
     Vui lòng kiểm tra emai xác thực đã được gửi đến hộp thư của bạn.
</p>

