@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được thay đổi. Hãy nhấp <a asp-page="./Login">vào đây để đăng nhập</a>.
</p>
